extends layout

block content
  :markdown
    # #{title}
    This application sets up a **Scan to FTP/Network Profile** on the **Brother MFC-9130CW** multifunction printer located in Karen's office.

    Your IP address is **#{ip}**

  table#profiles
    tbody
      tr
        td(width='25px', height='25px')
          div#spinner
        th Fetching profiles…

  script.
    console.log('Hello Jade!');
    $.get('/profiles', {}, function(data) {
      $.each(data, function(i, profile) {
        var name = profile.name == '' ? '[Unused]' : profile.name;
        $('#profiles').append('<tr><td>' + i + ':</td><td><a href=' + profile.href + '>' + name + '</a></td></tr>');
      });
      $('#spinner').fadeOut('slow', function() { $('#profiles>tbody>tr>th').text('Scan to FTP/Network Profiles'); });
    });
