body {
  padding: 50px;
  font: 14px "Lucida Grande", Helvetica, Arial, sans-serif;
}

a {
  color: #00B7FF;
}

#spinner {
  width: 20px;
  height: 20px;
  -webkit-animation: sweep 1s infinite linear;
  border-radius: 10px;
  border-bottom: 3px solid blue;
}

@-webkit-keyframes sweep {
  to {
    -webkit-transform: rotate(360deg);
  }
}
