/* http://stuffandnonsense.co.uk/blog/about/improve_your_web_typography_with_baseline_shift */
.icon-label {
  position: relative;
  left: .3em;
  top: -.3em;
}

#spinner {
  width: 20px;
  height: 20px;
  -webkit-animation: sweep 1s infinite linear;
  border-radius: 10px;
  border-bottom: 3px solid blue;
}

@-webkit-keyframes sweep {
  to {
    -webkit-transform: rotate(360deg);
  }
}
